#
# K2HR3 Utilities - Command Line Interface
#
# Copyright 2021 Yahoo Japan Corporation.
#
# K2HR3 is K2hdkc based Resource and Roles and policy Rules, gathers
# common management information for the cloud.
# K2HR3 can dynamically manage information as "who", "what", "operate".
# These are stored as roles, resources, policies in K2hdkc, and the
# client system can dynamically read and modify these information.
#
# For the full copyright and license information, please view
# the license file that was distributed with this source code.
#
# AUTHOR:   Takeshi Nakatani
# CREATE:   Mon Feb 15 2021
# REVISION:
#

#---------------------------------------------------------------------
# K2HR3 CLI configuration file
#---------------------------------------------------------------------
#
# Configuration for values that can be set for the K2HR3 CLI.
# The format is a format that can be read by a shell script.
#	<Keyword>=<value>
# (please do not put a space before and after the equal.)
#

#
# K2HR3 REST API URI
#
K2HR3CLI_API_URI=

#
# K2HR3 USER NAME
#
K2HR3CLI_USER=

#
# K2HR3 USER PASSPHRASE
#
# [NOTE]
# DO NOT SAVE THIS AS IT IS A SECURITY VULNERABILITY!!
#
K2HR3CLI_PASS=

#
# K2HR3 TENANT
#
K2HR3CLI_TENANT=

#
# K2HR3 REST API TOKENs
#
# [NOTE]
# Setting this value makes your system vulnerable.
# It is strongly recommended not to set it.
#
K2HR3CLI_UNSCOPED_TOKEN=
K2HR3CLI_SCOPED_TOKEN=
K2HR3CLI_OPENSTACK_TOKEN=
K2HR3CLI_OIDC_TOKEN=

#
# K2HR3 CLI PLUGINs
#
# Variables for plugins
#
# [NOTE]
# From this line onwards, the variables defined in the
# K2HR3 CLI plugin are set.
#
